body{
    overflow-x: hidden;
}

.projects-and-boards{
    margin-top: 2rem;
}

.project{
    padding: 1rem 4rem;
    background-color: inherit;
}

.project-name{
    width: 100%;
}

.project-boards{
    width: 100%;
}

.board{
    border-radius: 1rem;
}

.board-insight{
    background-color: blueviolet;
    border: 2px solid grey;
    border-radius: 1rem;
}

.board-details{
    margin-top: 1.5rem;
}