{% load static %}

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid" id="nav-container">
        <a href="/" class="navbar-brand">Logo</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigating-control"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse w-100 bg-white justify-content-md-center" id="navigating-control">
            <ul class="navbar-nav nav-topics ms-auto">
                <li class="nav-item fs-5 mx-md-3"><a href="/logout" type="button" class="navbar-link btn btn-default">About</a></li>
                <li class="nav-item fs-5 mx-md-3">
                    <div class="dropdown">
                        <button type="button" class="btn bg-info dropdown-toggle" data-bs-toggle="dropdown" id="Languages1">English</button>
                        <ul class="dropdown-menu" aria-labelledby="Languages1">
                            <li role="presentation">
                                <a href="" role="menuitem" class="dropdown-item">Francais</a>
                            </li>
                            <li role="presentation">
                                <a href="" role="menuitem" class="dropdown-item">Spanish</a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
            <ul class="navbar-nav d-md-flex ms-auto">
                <li class="nav-item mx-md-3"><a id='login' class="navbar-link btn bg-white">Login</a></li>
                <li class="nav-item mx-md-3"><a href="/signup" class="navbar-link btn btn-primary">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
<script src="{% static 'assets/js/navbar-login.js'%} "></script>