<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid" id="nav-container">
        <a href="/" class="navbar-brand">Logo</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigating-control"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse w-100 bg-light d-md-flex justify-content-md-center" id="navigating-control">
            <ul class="navbar-nav d-md-flex ms-auto">
                <li class="nav-item fs-5 mx-md-3"><a href="" class="navbar-link">Projects</a></li>
                <li class="nav-item fs-5 mx-md-3">
                    Profile
                </li>
                <li class="nav-item mx-md-3"><a href="" class="navbar-link">Search</a></li>
                <li class="nav-item mx-md-3"><a href="" class="navbar-link">About</a></li>
                <li class="nav-item mx-md-3"><a href="" class="navbar-link">English</a></li>
                
                
            </ul>
            <ul class="navbar-nav d-md-flex ms-auto bg-success">
                
                <li class="nav-item"><button href="" class="navbar-link btn">Sign out</button></li>
            </ul>
            
        </div>
    </div>
</nav>